<div class="border-solid min-h-screen h-full      bg-gradient-to-r from-teal-800 to-teal-100  py-10   ">
    <div class="bg-color : bg-teal-600 (green) max-w-4xl m-auto  rounded-xl shadow-lg shadow-teal-500/50">
      <div class="flex items-center justify-center content-center text-center  h-[600px] max-w-4xl rounded-xl mt-10">
        <div class=" bg-white basis-3/4  h-full rounded-l-xl">
          <div class=" bg-white basis-3/4  h-[400px] mt-[18%]">
            <h1 class="font-bold text-4xl m-auto text-center text-teal-600">
              Sign in to Shopkart
            </h1>
            <div class=" flex first-letter:font-bold text-2xl  mt-5  justify-center">
            <!-- <div class="social-icons mt-4">
              <mat-icon class="mr-2">facebook</mat-icon>
              <mat-icon class="mr-2">mail</mat-icon>
              <mat-icon class="mr-2">linkedin</mat-icon>
          </div> -->
            </div>
            <form >
              <div class="flex max-w-[300px] m-auto mt-5 ml-36">

                <div class=" bg-gray-200 content-center justify-center mt-2.5 ml-2">
                 
                </div>
                <mat-icon class="input-icon -ml-12 mt-1">account_circle</mat-icon>
                <div>
                  
                  <input
                    type="text"
                    placeholder="username"
                    class=" rounded-lg bg-gray-200 focus:outline-none font-bold   py-1 px-10"
                    required
                  />
                </div>
              </div>
              
               
             
             
              <div class="flex max-w-[300px] m-auto mt-5 ml-36">
                <mat-icon class="input-icon -ml-10 mt-1">lock</mat-icon>
                <div>
                  <input
                    type="password"
                    placeholder="Password"
                    class=" rounded-lg bg-gray-200 focus:outline-none font-bold   py-1 px-10"
                    required
                  />

                </div>
            


              </div>
              <a href="/">
                <p class="mt-4">Forgot your password ?</p>
              </a>
              <button
                type="submit"
                class="bg-teal-600 (green) px-16 rounded-full py-2 mt-4 text-white"
              >
                SIGN IN
              </button>
            </form>
          </div>
        </div>
        <div>
          <div class="bg-color : bg-teal-600 (green) max-w-screen-md basis-2/4  h-[170px] ">
            <h1 class="font-bold text-4xl m-auto text-center text-white">
              Hello, Friend !
            </h1>
            <p class="m-auto text-center mt-8 text-white px-10">
              Enter your personal details and start journey with us
            </p>
            <button
              class="rounded-full  border-solid border-2 border-white  px-10 py-1 text-center text-white mt-8"
            ><a [routerLink]="['/sign-up']">SIGN UP</a> 
            </button>
            
          </div>
        </div>
      </div>
    </div>
